mixin tableRow(subTask)
    include state-dropdown.pug
    tr
        if subTask.parentId === null 
            td 
                img(src= subTask.issueTypeIconUrl)
        else
            td 
        
        if subTask.parentId === null
            td
                span(class="font-weight-bold")= `${subTask.issueKey} - ${subTask.summary}`
        else
            td
                img(src= subTask.issueTypeIconUrl) 
                span(class="ml-2 subtask-text")= `${subTask.issueKey} - ${subTask.summary}`
        td  
            span= subTask.spentTime
        td
            span= subTask.remainingTime     
        td(class="wd-20")
            .input-group
                input.form-control(type='text' placeholder='Enter time spent')
                .input-group-append
                button#button-addon2.btn.btn-default.text-white(type='button' class='add-time' data-issuekey= subTask.issueKey) Log
        td
            //- subTask.state.transitions,
            +stateDropdown(subTask.status,subTask.issueKey)